version: "3.9"

services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:13-rootless
    container_name: forgejo
    restart: unless-stopped
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__database__DB_TYPE=sqlite3
      - FORGEJO__server__DOMAIN=git.ronath.dev
      - FORGEJO__server__ROOT_URL=https://git.ronath.dev/
      - FORGEJO__server__SSH_DOMAIN=git.ronath.dev
      - FORGEJO__server__SSH_PORT=2222
      - FORGEJO__server__DISABLE_SSH=false
      - FORGEJO__server__START_SSH_SERVER=true
      - FORGEJO__service__DISABLE_REGISTRATION=true
    volumes:
      - /home/nathan1/docker/forgejo/data:/var/lib/gitea
      - /home/nathan1/docker/forgejo/config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"   # optional direct HTTP on LAN
      - "2222:22"   # SSH for git over SSH
    networks:
      - proxy

networks:
  proxy:
    external: true
