version: "3.9"
services:
  cloudflared:
    image: cloudflare/cloudflared:2025.8.1
    container_name: cloudflared
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}
    volumes:
      - ./config.yml:/etc/cloudflared/config.yml:ro
      - ./cert.json:/etc/cloudflared/${CF_TUNNEL_ID}.json:ro
    networks:
      - proxy
    restart: unless-stopped
networks:
  proxy:
    external: true
